body{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  display: flex;
 flex-direction: column;
 align-items: center;
 background: linear-gradient(to bottom, #87cefa, #ffeb3b);
 min-height: 100vh
}


.cityInput{
  padding: 10px;
  font-size: 1.5rem;
  font-weight: bold;
  border: 2px solid hsl(0, 0, 20%);
  border-radius: 10px;
  margin: 10px;
  width: 300px;
 
}

button[type="submit"]{
  padding: 10px 20px;
  font-weight: bold;
  font-size: 2rem;
  background-color: greenyellow;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover{

  background-color: rgb(210, 247, 155);
}


 .weather-box {
  border-radius: 8px ; 
  padding: 30px; 
  margin: 20px auto; 
  max-width: 300px; 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
  text-align: center;
 }
  .weather-box h2 {
    font-size: 2em; 
}

.weather-box p {
    font-size: 2em; 
}

.weather-box img {
    width: 100px; 
} 